.main .fetured_block_header_h2, .main .fetured_block_header_p, .main .fetured_block_items_block_item_section_h2, .main .fetured_block_items_block_item_section_p, .main .fetured_block_items_block_item_section_price, .content-box .header .menu_logo .drop_menu .category_item, .content-box .header .menu_logo .drop_menu .category {
  font-family: Lato;
  font-weight: 400;
  font-style: normal;
}

.main .brand_mark_h2 {
  font-family: Lato;
  font-weight: 700;
  font-style: normal;
}

.main .brand_mark_h1 {
  font-family: Lato;
  font-weight: 900;
  font-style: normal;
}

.content-box {
  overflow: hidden;
}
.content-box .header {
  padding: 19px 230px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #222224;
  background-size: cover;
  position: relative;
}
.content-box .header_left {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
}
.content-box .header_right {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
}
.content-box .header_button {
  cursor: pointer;
  width: 26px;
  height: 26.79px;
  top: 28.21px;
  left: 316px;
  gap: 0px;
  background: #222224;
  border: none;
}
.content-box .header .menu_logo .drop_menu {
  display: flex;
  justify-content: flex-start;
  position: absolute;
  z-index: 999;
  width: 232px;
  top: 76px;
  right: -232px;
  background-color: #fff;
  box-sizing: border-box;
  box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.2117647059);
  transition: right 0.2s cubic-bezier(0.33, 0.6, 0.68, 0.6);
}
.content-box .header .menu_logo .drop_menu_inner {
  display: flex;
  flex-direction: column;
  padding: 32px;
  gap: 20px;
}
.content-box .header .menu_logo .drop_menu_h2 {
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.8px;
  text-align: left;
}
.content-box .header .menu_logo .drop_menu .category {
  font-size: 14px;
  line-height: 16.8px;
  text-align: left;
  color: #F16D7F;
}
.content-box .header .menu_logo .drop_menu .category_list {
  list-style-type: none;
  text-align: start;
  padding-left: 20px;
}
.content-box .header .menu_logo .drop_menu .category_item {
  font-size: 14px;
  line-height: 16.8px;
  text-align: left;
  color: #6F6E6E;
}
.content-box .header .menu_logo .drop_menu .link {
  text-decoration: none;
  color: unset;
}
.content-box .header .menu_logo #right-slide:checked ~ .drop_menu {
  right: 0;
  top: 76px;
}
.content-box .header .menu_logo .menu-checkbox {
  visibility: hidden;
}

.main .fetured_block_header_h2, .main .fetured_block_header_p, .main .fetured_block_items_block_item_section_h2, .main .fetured_block_items_block_item_section_p, .main .fetured_block_items_block_item_section_price, .footer_footer_manufacturer, .footer_subscribers_subscribe_p, .footer_subscribers_costumers_comment_p, .footer_benefits_section_p, .footer_benefits_section_h2 {
  font-family: Lato;
  font-weight: 400;
  font-style: normal;
}

.main .brand_mark_h2, .footer_subscribers_subscribe {
  font-family: Lato;
  font-weight: 700;
  font-style: normal;
}

.main .brand_mark_h1 {
  font-family: Lato;
  font-weight: 900;
  font-style: normal;
}

.footer {
  margin-top: 95px;
}
.footer_benefits {
  padding: 103px 230px;
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  background: #222224;
  gap: 30px;
}
.footer_benefits_section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  text-align: center;
  gap: 16px;
}
.footer_benefits_section_h2 {
  font-size: 19.96px;
  line-height: 24px;
  color: #FBFBFB;
}
.footer_benefits_section_p {
  font-size: 13.972px;
  line-height: 17px;
  text-align: center;
  color: #FBFBFB;
}
.footer_subscribers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-image: url(../images/footer_background.png);
  background-size: cover;
  padding-left: calc(50% - 460px);
  padding-right: calc(50% - 460px);
  padding-bottom: 96px;
  padding-top: 96px;
  gap: 223px;
}
.footer_subscribers_costumers_comment {
  max-width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.footer_subscribers_costumers_comment_img {
  max-width: 96px;
}
.footer_subscribers_costumers_comment_p {
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
}
.footer_subscribers_subscribe {
  font-size: 24px;
  line-height: 167.2%;
  /* or 40px */
  text-align: center;
  color: #222224;
}
.footer_subscribers_subscribe_p {
  width: -moz-max-content;
  width: max-content;
  font-size: 18px;
  line-height: 167.2%;
  /* or 30px */
  text-align: center;
  -moz-columns: #222224;
       columns: #222224;
}
.footer_subscribers_subscribe_form {
  display: flex;
}
.footer_subscribers_subscribe_form_email_input {
  border-radius: 30px 0% 0% 30px;
  padding: 8px 64px 8px 22px;
  border: none;
  background: #E1E1E1;
  color: #222224;
}
.footer_subscribers_subscribe_form_input_button {
  border-radius: 0 30px 30px 0;
  padding: 8px;
  border: none;
  background: #F16D7F;
  color: #fff;
}
.footer_footer {
  padding-left: calc(50% - 800px);
  padding-right: calc(50% - 800px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 230px;
  background: #222224;
}
.footer_footer_manufacturer {
  line-height: 19.2px;
  text-align: left;
  color: #FBFBFB;
}
.footer_footer_icons {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.footer_footer_icons_button {
  border: none;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.footer_footer_icons_button_icon {
  background: #fff;
  width: 32px;
  height: 16px;
  display: flex;
  justify-content: center;
  padding: 8px 0;
}
.footer_footer_icons_button_icon:hover {
  fill: #fff;
  background: #F16D7F;
}

.main .fetured_block_header_h2, .main .fetured_block_header_p, .main .fetured_block_items_block_item_section_h2, .main .fetured_block_items_block_item_section_p, .main .fetured_block_items_block_item_section_price {
  font-family: Lato;
  font-weight: 400;
  font-style: normal;
}

.main .brand_mark_h2 {
  font-family: Lato;
  font-weight: 700;
  font-style: normal;
}

.main .brand_mark_h1 {
  font-family: Lato;
  font-weight: 900;
  font-style: normal;
}

.center {
  margin-left: calc(50% - 800px);
  margin-right: calc(50% - 800px);
}

* {
  margin: 0;
  padding: 0;
}

.main .fetured_block_items_block_item_section_price, .main .fetured_block_items_block_item_section_p, .main .fetured_block_items_block_item_section_h2, .main .fetured_block_header_p, .main .fetured_block_header_h2 {
  font-family: Lato;
  font-weight: 400;
  font-style: normal;
}

.main .brand_mark_h2 {
  font-family: Lato;
  font-weight: 700;
  font-style: normal;
}

.main .brand_mark_h1 {
  font-family: Lato;
  font-weight: 900;
  font-style: normal;
}

.main .brand {
  padding-left: calc(50% - 800px);
  padding-right: calc(50% - 800px);
  max-width: 1600px;
  display: flex;
  align-items: center;
  background: #F1E4E6;
}
.main .brand_img {
  max-width: 50%;
}
.main .brand_mark {
  display: grid;
  grid-template: 52px 40px/12px 1fr;
  gap: 10px;
  text-align: left;
}
.main .brand_mark .gorizontal_draw {
  grid-area: 1/1/span1;
  left: 54%;
  right: 45.25%;
  top: 12.48%;
  bottom: 84.38%;
  background: #F16D7F;
}
.main .brand_mark_h1 {
  padding: 5px 0 0;
  left: 55.75%;
  right: 20.69%;
  top: 12.48%;
  bottom: 84.34%;
  font-size: 48px;
  line-height: 58px;
  color: #222224;
}
.main .brand_mark_h2 {
  padding: 10px 0 0;
  left: 55.75%;
  right: 20.69%;
  top: 12.48%;
  bottom: 84.34%;
  font-size: 32px;
  line-height: 38px;
  color: #222224;
}
.main .brand_mark_fashion {
  color: #F16D7F;
}
.main .agitation {
  padding-left: calc(50% - 585px);
  padding-right: calc(50% - 585px);
  max-width: 1170px;
  display: grid;
  grid-template: 260px 180px/repeat(3, 1fr);
  margin: 65px 0px 96px 0;
  gap: 30px;
}
.main .agitation .agitation_item_lower, .main .agitation .agitation_item_3, .main .agitation .agitation_item_2, .main .agitation .agitation_item_1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  background-size: cover;
  background-repeat: no-repeat;
}
.main .agitation_item_1 {
  grid-area: 1/1/1/1;
  background-image: url(../images/for_women.png);
}
.main .agitation_item_2 {
  grid-area: 1/2/1/2;
  background-image: url(../images/for_men.jpg);
}
.main .agitation_item_3 {
  grid-area: 1/3/1/3;
  background-image: url(../images/for_kids.jpg);
}
.main .agitation_item_lower {
  grid-area: 2/1/2/4;
  background-image: url(../images/accesories.jpg);
}
.main .agitation_h4 {
  color: #fff;
}
.main .agitation_h3 {
  color: #F16D7F;
}
.main .fetured_block {
  padding-left: calc(50% - 800px);
  padding-right: calc(50% - 800px);
}
.main .fetured_block_header {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-bottom: 48px;
}
.main .fetured_block_header_h2 {
  left: 44.4%;
  right: 44.23%;
  top: 50.26%;
  bottom: 48.51%;
  font-size: 30px;
  line-height: 36px;
  /* identical to box height */
  color: #222224;
}
.main .fetured_block_header_p {
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  color: #9F9F9F;
}
.main .fetured_block_items_block {
  padding-left: calc(50% - 585px);
  padding-right: calc(50% - 585px);
  display: grid;
  grid-template: 581px 581px/repeat(3, calc(33.333% - 20px));
  gap: 30px;
}
.main .fetured_block_items_block_item {
  background: #F8F8F8;
}
.main .fetured_block_items_block_item_image_box {
  height: 420px;
}
.main .fetured_block_items_block_item_image_box_cart_button_box {
  display: none;
  position: absolute;
  width: 100%;
  height: 420px;
  background: rgba(58, 56, 56, 0.8);
  opacity: 80%;
}
.main .fetured_block_items_block_item_image_box_cart_button_box_button {
  display: flex;
  align-items: center;
  gap: 11px;
  padding: 8px 12px;
  background: rgba(58, 56, 56, 0.8);
  color: #fff;
  border: solid #fff 1px;
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.main .fetured_block_items_block_item_image_box_img {
  width: -webkit-fill-available;
  height: 420px;
}
.main .fetured_block_items_block_item_image_box:hover .main .fetured_block_items_block_item_image_box_cart_button_box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -424px;
}
.main .fetured_block_items_block_item_section {
  display: flex;
  flex-flow: column;
  align-items: start;
  gap: 12px;
  margin: 24px 28px 20px 16px;
}
.main .fetured_block_items_block_item_section_h2 {
  font-size: 13px;
  line-height: 16px;
  color: #000;
}
.main .fetured_block_items_block_item_section_p {
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
}
.main .fetured_block_items_block_item_section_price {
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}
.main .fetured_block_footer {
  display: flex;
  justify-content: center;
  margin-top: 48px;
}
.main .fetured_block_footer_browse_all_button {
  width: 212px;
  height: 48px;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  color: #F16D7F;
  border: 1px solid #F16D7F;
  background: none;
}/*# sourceMappingURL=style.css.map */