.main .agitation_h4, .main .fetured_block_header_h2, .main .fetured_block_header_p, .content-box .header .menu_logo .drop_menu .category_item, .content-box .header .menu_logo .drop_menu .category {
  font-family: Lato;
  font-weight: 400;
  font-style: normal;
}

.main .brand_mark_h2, .main .agitation_h3 {
  font-family: Lato;
  font-weight: 700;
  font-style: normal;
}

.main .brand_mark_h1 {
  font-family: Lato;
  font-weight: 900;
  font-style: normal;
}

.content-box {
  overflow: hidden;
}
.content-box .header {
  padding: 19px 230px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #222224;
  background-size: cover;
  position: relative;
}
.content-box .header_left {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
}
.content-box .header_right {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
}
.content-box .header_button {
  cursor: pointer;
  max-width: 26px;
  height: 26.79px;
  top: 28.21px;
  left: 316px;
  gap: 0px;
  background: #222224;
  border: none;
}
.content-box .header .menu_logo .drop_menu {
  display: flex;
  justify-content: flex-start;
  position: absolute;
  z-index: 999;
  max-width: 232px;
  top: 76px;
  right: -232px;
  background-color: #fff;
  box-sizing: border-box;
  box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.2117647059);
  opacity: 0;
  transition: all 0.2s cubic-bezier(0.33, 0.6, 0.68, 0.6);
  cursor: default;
}
.content-box .header .menu_logo .drop_menu_inner {
  display: flex;
  flex-direction: column;
  padding: 32px;
  gap: 20px;
}
.content-box .header .menu_logo .drop_menu_h2 {
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.8px;
  text-align: left;
}
.content-box .header .menu_logo .drop_menu .category {
  font-size: 14px;
  line-height: 16.8px;
  text-align: left;
  color: #F16D7F;
}
.content-box .header .menu_logo .drop_menu .category_list {
  list-style-type: none;
  text-align: start;
  padding-left: 20px;
}
.content-box .header .menu_logo .drop_menu .category_item {
  font-size: 14px;
  line-height: 16.8px;
  text-align: left;
  color: #6F6E6E;
}
.content-box .header .menu_logo .drop_menu .link {
  text-decoration: none;
  color: unset;
}
.content-box .header .menu_logo .drop_menu .link:hover {
  color: #F16D7F;
  transition: all 0.15s;
}
.content-box .header .menu_logo #right-slide:checked ~ .drop_menu {
  opacity: 1;
  right: 0;
  top: 76px;
}
.content-box .header .menu_logo .menu-checkbox {
  visibility: hidden;
}

@media (max-width: 768px) {
  .content-box .header {
    padding: 18px 32px;
  }
}
@media (max-width: 426px) {
  .header_right .header_button:not(:first-child) {
    display: none;
  }
}
.main .agitation_h4, .main .fetured_block_header_h2, .main .fetured_block_header_p, .footer_footer_manufacturer, .footer_subscribers_subscribe_p, .footer_subscribers_costumers_comment_p, .footer_benefits_section_p, .footer_benefits_section_h2 {
  font-family: Lato;
  font-weight: 400;
  font-style: normal;
}

.main .brand_mark_h2, .main .agitation_h3, .footer_subscribers_subscribe {
  font-family: Lato;
  font-weight: 700;
  font-style: normal;
}

.main .brand_mark_h1 {
  font-family: Lato;
  font-weight: 900;
  font-style: normal;
}

.footer_benefits {
  padding: 103px 230px;
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  background: #222224;
  gap: 30px;
}
.footer_benefits_section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  text-align: center;
  gap: 16px;
}
.footer_benefits_section_h2 {
  font-size: 20px;
  line-height: 24px;
  color: #FBFBFB;
}
.footer_benefits_section_p {
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FBFBFB;
}
.footer_subscribers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-image: url(../images/footer_background.png);
  background-size: cover;
  padding-left: calc(50% - 460px);
  padding-right: calc(50% - 460px);
  padding-bottom: 96px;
  padding-top: 96px;
  gap: 223px;
}
.footer_subscribers_costumers_comment {
  max-width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.footer_subscribers_costumers_comment_img {
  max-width: 96px;
}
.footer_subscribers_costumers_comment_p {
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
}
.footer_subscribers_subscribe {
  font-size: 24px;
  line-height: 167.2%;
  /* or 40px */
  text-align: center;
  color: #222224;
}
.footer_subscribers_subscribe_p {
  width: -moz-max-content;
  width: max-content;
  font-size: 18px;
  line-height: 167.2%;
  /* or 30px */
  text-align: center;
  -moz-columns: #222224;
       columns: #222224;
}
.footer_subscribers_subscribe_form {
  display: flex;
}
.footer_subscribers_subscribe_form_email_input {
  border-radius: 30px 0% 0% 30px;
  padding: 8px 64px 8px 22px;
  border: none;
  background: #E1E1E1;
  color: #222224;
}
.footer_subscribers_subscribe_form_input_button {
  border-radius: 0 30px 30px 0;
  padding: 8px;
  border: none;
  background: #F16D7F;
  color: #fff;
}
.footer_footer {
  padding-left: calc(50% - 800px);
  padding-right: calc(50% - 800px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 230px;
  background: #222224;
}
.footer_footer_manufacturer {
  line-height: 19.2px;
  text-align: left;
  color: #FBFBFB;
}
.footer_footer_icons {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.footer_footer_icons_button {
  border: none;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.footer_footer_icons_button_icon {
  background: #fff;
  width: 32px;
  height: 16px;
  display: flex;
  justify-content: center;
  padding: 8px 0;
  transition: all 0.3s;
}
.footer_footer_icons_button_icon:hover {
  fill: #fff;
  background: #F16D7F;
}

@media (max-width: 768px) {
  .footer_benefits {
    padding: 48px 204px 64px;
    gap: 48px;
    flex-direction: column;
  }
  .footer_benefits_section_p {
    font-family: Lato;
    font-weight: 300;
    font-style: normal;
  }
  .footer_subscribers {
    flex-direction: column;
    padding: 64px 204px 120px;
    gap: 48px;
  }
  .footer_footer {
    padding-left: 30px;
    padding-right: 24px;
  }
}
@media (max-width: 426px) {
  .footer_benefits {
    padding: 48px 32px 80px;
  }
  .footer_subscribers {
    padding: 64px 32px 110px;
  }
  .footer_subscribers_subscribe_form {
    padding-top: 22px;
  }
  .footer_footer {
    flex-direction: column-reverse;
    gap: 40px;
  }
}
.main .agitation_h4, .main .fetured_block_header_h2, .main .fetured_block_header_p, .product-card__name, .product-card__description, .product-card__price {
  font-family: Lato;
  font-weight: 400;
  font-style: normal;
}

.main .brand_mark_h2, .main .agitation_h3 {
  font-family: Lato;
  font-weight: 700;
  font-style: normal;
}

.main .brand_mark_h1 {
  font-family: Lato;
  font-weight: 900;
  font-style: normal;
}

@media (min-width: 1600px) {
  .center {
    margin-left: calc(50% - 800px);
    margin-right: calc(50% - 800px);
  }
}
.product-card {
  background: #F8F8F8;
}
.product-card__image {
  width: -webkit-fill-available;
}
.product-card__image-box {
  position: relative;
  box-sizing: border-box;
}
.product-card__image-box .cart-button-box {
  display: none;
  width: 100%;
  height: 420px;
  background: rgba(58, 56, 56, 0.8);
}
.product-card__image-box .cart-button-box .cart-button {
  padding: 8px 12px;
  display: flex;
  align-items: center;
  gap: 11px;
  color: #fff;
  border: solid 1px #fff;
  background: none;
}
.product-card__image-box .cart-button-box .cart-button svg {
  fill: #fff;
}
.product-card__image-box:hover .cart-button-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
}
.product-card__info {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  gap: 12px;
  margin: 24px 28px 20px 16px;
}
.product-card__name {
  font-size: 13px;
  line-height: 16px;
  color: #000;
}
.product-card__description {
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
}
.product-card__price {
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

@media (max-width: 768px) {
  .product-card__description {
    font-family: Lato;
    font-weight: 300;
    font-style: normal;
  }
}
* {
  margin: 0;
  padding: 0;
}

.main .brand {
  padding-left: calc(50% - 800px);
  padding-right: calc(50% - 800px);
  max-width: 1600px;
  display: flex;
  align-items: center;
  background: #F1E4E6;
}
.main .brand_img {
  max-width: 50%;
}
.main .brand_mark {
  display: grid;
  grid-template: 52px 40px/12px 1fr;
  gap: 10px;
  text-align: left;
}
.main .brand_mark .gorizontal_draw {
  grid-area: 1/1/span1;
  left: 54%;
  right: 45.25%;
  top: 12.48%;
  bottom: 84.38%;
  background: #F16D7F;
}
.main .brand_mark_h1 {
  padding: 5px 0 0;
  left: 55.75%;
  right: 20.69%;
  top: 12.48%;
  bottom: 84.34%;
  font-size: 48px;
  line-height: 58px;
  color: #222224;
}
.main .brand_mark_h2 {
  padding: 10px 0 0;
  left: 55.75%;
  right: 20.69%;
  top: 12.48%;
  bottom: 84.34%;
  font-size: 32px;
  line-height: 38px;
  color: #222224;
}
.main .brand_mark_fashion {
  color: #F16D7F;
}
.main .agitation {
  padding-left: 230px;
  padding-right: 230px;
  max-width: 1170px;
  display: grid;
  grid-template: 260px 180px/repeat(3, 1fr);
  margin: 65px 0px 96px 0;
  gap: 30px;
}
.main .agitation .agitation_item_lower, .main .agitation .agitation_item_3, .main .agitation .agitation_item_2, .main .agitation .agitation_item_1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  background-size: cover;
  background-repeat: no-repeat;
}
.main .agitation_item_1 {
  grid-area: 1/1/1/1;
  background-image: url(../images/for_women.png);
}
.main .agitation_item_2 {
  grid-area: 1/2/1/2;
  background-image: url(../images/for_men.jpg);
}
.main .agitation_item_3 {
  grid-area: 1/3/1/3;
  background-image: url(../images/for_kids.jpg);
}
.main .agitation_item_lower {
  grid-area: 2/1/2/4;
  background-image: url(../images/accesories.jpg);
}
.main .agitation_h4 {
  font-size: 16px;
  color: #fff;
}
.main .agitation_h3 {
  font-size: 24px;
  color: #F16D7F;
}
.main .fetured_block {
  padding-left: 230px;
  padding-right: 230px;
}
.main .fetured_block_header {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-bottom: 48px;
}
.main .fetured_block_header_h2 {
  font-size: 30px;
  line-height: 36px;
  /* identical to box height */
  color: #222224;
}
.main .fetured_block_header_p {
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  color: #9F9F9F;
}
.main .fetured_block_items_block {
  display: grid;
  grid-template: repeat(2, 1fr)/repeat(3, 1fr);
  gap: 30px;
}
.main .fetured_block_footer {
  display: flex;
  justify-content: center;
  padding-top: 48px;
  padding-bottom: 96px;
}
.main .fetured_block_footer_browse_all_button {
  padding: 8px 16px;
  max-width: 212px;
  height: 48px;
  gap: 0px;
  opacity: 0px;
  color: #F16D7F;
  border: 1px solid #F16D7F;
  background: none;
}

@media (max-width: 1216px) {
  .main .brand_mark_h1 {
    font-size: 44px;
  }
  .main .brand_mark_h2 {
    font-size: 24px;
  }
  .main .agitation {
    padding-left: 16px;
    padding-right: 16px;
    grid-template: 168px 116px/repeat(3, 1fr);
  }
  .main .fetured_block {
    padding-left: 16px;
    padding-right: 16px;
  }
  .main .fetured_block_items_block {
    grid-template: repeat(3, 1fr)/repeat(2, 1fr);
    gap: 16px;
  }
  .main .fetured_block_footer {
    padding-top: 32px;
  }
}
@media (max-width: 590px) {
  .main .brand {
    padding: 148px 56px;
  }
  .main .brand_img {
    display: none;
  }
  .main .agitation {
    grid-template: repeat(3, 248px) 112px/344px;
    gap: 32px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .main .agitation_item_1 {
    grid-area: 1;
  }
  .main .agitation_item_2 {
    grid-area: 2;
  }
  .main .agitation_item_3 {
    grid-area: 3;
  }
  .main .agitation_item_lower {
    grid-area: 4;
  }
  .main .fetured_block {
    padding-left: 32px;
    padding-right: 32px;
  }
  .main .fetured_block_items_block {
    grid-template: repeat(6, 580px)/1fr;
    gap: 16px;
  }
}/*# sourceMappingURL=style.css.map */