@use "../sass/header.scss";
@use "../sass/footer.scss";
@use "../sass/vars" as vars;
@use "../sass/mixins" as mxns;
@use "../sass/center";
@use "../sass/product-card";
// above uses


// above imports
* {
    margin: 0;
    padding: 0;

}


.main {

    .brand {
        @include mxns.center(vars.$large_width);
        max-width: vars.$large_width;
        display: flex;
        align-items: center;
        background: vars.$brand_back_color;

        &_img {
            max-width: 50%;
        }

        &_mark {
            display: grid;
            grid-template: 52px 40px / 12px 1fr;
            gap: 10px;
            text-align: left;

            .gorizontal_draw {
                grid-area: 1 / 1 / span1;
                left: 54%;
                right: 45.25%;
                top: 12.48%;
                bottom: 84.38%;
                background: vars.$pink_text_color;
            }

            &_h1 {
                @extend %lato_900;
                padding: 5px 0 0;
                left: 55.75%;
                right: 20.69%;
                top: 12.48%;
                bottom: 84.34%;
                font-size: 48px;
                line-height: 58px;
                color: vars.$dark_back_color;

            }

            &_h2 {
                @extend %lato_700;
                padding: 10px 0 0;
                left: 55.75%;
                right: 20.69%;
                top: 12.48%;
                bottom: 84.34%;
                font-size: 32px;
                line-height: 38px;
                color: vars.$dark_back_color;
            }

            &_fashion {
                color: vars.$pink_text_color;
            }

        }


    }

    .agitation {
        padding-left: 230px;
        padding-right: 230px;
        max-width: vars.$content_L_width;
        display: grid;
        grid-template: 260px 180px/ repeat(3, 1fr);
        margin: 65px 0px 96px 0;
        gap: 30px;

        %item {
            @include mxns.flex_center();
            flex-flow: column;
            background-size: cover;
            background-repeat: no-repeat;
        }

        &_item_1 {
            grid-area: 1/1/1/1;
            @extend %item;
            background-image: url(../images/for_women.png);
        }

        &_item_2 {
            grid-area: 1/2/1/2;
            @extend %item;
            background-image: url(../images/for_men.jpg);

        }

        &_item_3 {
            grid-area: 1/3/1/3;
            @extend %item;
            background-image: url(../images/for_kids.jpg);

        }

        &_item_lower {
            grid-area: 2/1/2/4;
            @extend %item;
            background-image: url(../images/accesories.jpg);

        }

        &_h4 {
            @extend %lato_400;
            font-size: 16px;
            color: vars.$white_text_color;
        }

        &_h3 {
            @extend %lato_700;
            font-size: 24px;
            color: vars.$pink_text_color;
        }
    }

    .fetured_block {
        padding-left: 230px;
        padding-right: 230px;

        &_header {
            display: flex;
            flex-flow: column;
            align-items: center;
            margin-bottom: 48px;

            &_h2 {

                @extend %lato_400;
                font-size: 30px;
                line-height: 36px;
                /* identical to box height */
                color: vars.$dark_back_color;
            }

            &_p {
                @extend %lato_400;
                font-size: 14px;
                line-height: 17px;
                /* identical to box height */
                color: vars.$fetured_header_grey_text;
            }
        }

        &_items_block {

            display: grid;
            // grid-template: 581px 581px/ repeat(3, calc(33.333% - 20px));
            grid-template: repeat(2, 1fr)/repeat(3, 1fr);

            gap: 30px;


        }

        &_footer {
            display: flex;
            justify-content: center;
            padding-top: 48px;
            padding-bottom: 96px;

            &_browse_all_button {
                padding: 8px 16px;
                max-width: 212px;
                height: 48px;
                gap: 0px;
                opacity: 0px;
                color: vars.$pink_text_color;
                border: 1px solid vars.$pink_text_color;
                background: none;
            }
        }
    }
}

@media (max-width: vars.$medium_width) {
    .main {

        .brand {




            &_mark {



                &_h1 {
                    font-size: 44px;
                }

                &_h2 {
                    font-size: 24px;
                }


            }


        }

        .agitation {
            padding-left: 16px;
            padding-right: 16px;
            grid-template: 168px 116px / repeat(3, 1fr);
        }

        .fetured_block {
            padding-left: 16px;
            padding-right: 16px;

            &_items_block {
                grid-template: repeat(3, 1fr) / repeat(2, 1fr);
                gap: 16px;


            }

            &_footer {
                padding-top: 32px;


            }
        }
    }
}

@media (max-width: vars.$small_width) {
    .main {


        .brand {
            // @include mxns.flex_center;
            padding: 148px 56px;

            &_img {
                display: none;
            }
        }

        .agitation {
            grid-template: repeat(3, 248px) 112px / 344px;
            gap: 32px;
            padding-left: 32px;
            padding-right: 32px;

            &_item_1 {
                grid-area: 1;

            }

            &_item_2 {
                grid-area: 2;


            }

            &_item_3 {

                grid-area: 3;

            }

            &_item_lower {

                grid-area: 4;

            }

        }

        .fetured_block {
            padding-left: 32px;
            padding-right: 32px;

            &_items_block {
                grid-template: repeat(6, 580px) / 1fr;
                gap: 16px;
            }
        }
    }
}