@use "../sass/footer.scss";
@use "../sass/header.scss";
@use "../sass/page-heading";
@use "../sass/mixins" as mxns;
@use "../sass/vars" as vars;
@use "../sass/product-card";
@use "../sass/pawn-cursor";
@use "../sass/center";

* {
    margin: 0;
    padding: 0;
}

.cart-content {
    padding: 96px 230px 128px;
    user-select: none;
    display: flex;
    gap: 128px;


    .products {
        display: flex;
        flex-direction: column;
        gap: 40px;

        .products-box {
            display: flex;
            flex-direction: column;
            gap: 40px;
            align-self: center;

            .cart-product {
                max-width: 652px;
                display: flex;

                box-sizing: border-box;
                box-shadow: vars.$cart-product-box-shadow;


                &__image {
                    max-width: 262px;
                    box-sizing: border-box;
                }

                &__info {
                    padding: 22px 150px 62px 32px;
                    display: flex;
                    flex-flow: wrap column;
                    gap: 6px;
                    position: relative;
                    color: vars.$cart-product-text-color;
                    @extend %lato_400;
                    font-size: 22px;


                    .crest-button {
                        position: absolute;
                        top: 28px;
                        right: 57px;
                        box-sizing: border-box;
                        border: none;
                        background: none;
                        cursor: pointer;
                    }

                }

                &__name {
                    text-align: start;
                    @extend %lato_400;
                    font-size: 24px;
                    padding-bottom: 36px;
                    color: vars.$cart-product-name-color;
                }

                &__price {
                    .value {
                        color: vars.$pink_text_color;
                    }
                }

                &__quantity {
                    display: flex;
                    flex-direction: row;
                    gap: 24px;

                    .value {
                        max-width: 44px;
                        border: solid 1px vars.$cart-product-input-border-color;
                        text-align: center;
                        transition: all 0.3s;

                        &:hover {
                            @include mxns.input_hover;
                        }

                        &:focus {
                            outline: none;
                            @include mxns.input_focus;
                        }
                    }
                }
            }
        }


        &__buttons-box {
            display: flex;
            justify-content: space-between;
            padding-top: 32px;
        }

        &__button {
            padding: 16px 40px;
            box-sizing: border-box;
            border: 1px solid vars.$cart__products__button-border-color;
            color: vars.$cart__products__button-color;
            background: none;
            @extend %lato_400;
            font-size: 14px;
            cursor: pointer;
            transition: all 0.3s;

            &:hover {
                @include mxns.pale-button_hover;
            }
        }

    }

    .cart-form {
        // max-width: 360px;

        .shipping-form {
            display: flex;
            flex-direction: column;
            gap: 20px;
            padding-top: 16px;


            &__lable {
                @extend %lato_400;
                color: vars.$shipping-form-text-color;
                font-size: 16px;

            }

            &__input {
                @extend %lato_400;
                padding: 16px 1.6rem;
                outline: none;
                box-sizing: border-box;
                color: vars.$shipping-form-text-color;
                border: solid 1px vars.$shipping-form-color;
                transition: all 0.3s;

                &:hover {
                    @include mxns.input_hover;
                }

                &:focus {
                    @include mxns.input_focus;
                }


                &:not(.pale)::placeholder {
                    color: vars.$shipping-form-text-color;


                }

                .pale {
                    &::placeholder {
                        color: vars.$shipping-form-address-placeholder-color;
                    }
                }


            }

            &__submit {
                @extend %lato_400;
                padding: 12px 1.4rem;
                color: vars.$shipping-form-color;
                max-width: 10rem;
                background: none;
                border: 1px solid vars.$shipping-form-color;
                cursor: pointer;
                transition: all 0.3s;

                &:hover {
                    @include mxns.pale-button_hover;
                }
            }
        }

        .proceed-box {
            margin-top: 57px;
            padding: 40px 44px 42px;
            background: vars.$cart__proceed-box-back-color;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 18px;

            &__prices {
                @extend %lato_400;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                box-sizing: border-box;
                width: -webkit-fill-available;
                gap: 12px;
                padding-bottom: 20px;
                border-bottom: 1px solid vars.$cart__proceed-box__prices-botom-border-color ;

                .sub-price {
                    font-size: 11px;
                    display: flex;
                    gap: 2rem;
                }

                .grand-price {
                    font-size: 16px;
                    display: flex;
                    gap: 2rem;

                    .value {
                        color: vars.$pink_text_color;
                    }
                }
            }

            &__button {
                @extend %lato_400;
                border: none;
                color: vars.$white_text_color;
                background: vars.$pink_text_color;
                padding: 16px 42px;
                cursor: pointer;
                transition: all 0.25s;

                &:hover {
                    @include mxns.pink-button_hover;
                }

                &:active {
                    @include mxns.pink-buton_active;
                }
            }


        }
    }

}

@media(max-width: vars.$tablet-max_width) {
    .cart-content {
        padding: 60px 16px 128px;
        flex-direction: column;
        gap: 64px;

        .products {
            .cart-product {
                max-width: 734px
            }

            &__buttons-box {
                padding-top: 22px;
            }
        }

        .cart-form {
            width: -webkit-fill-available;
            display: flex;
            justify-content: space-between;

            .shipping-form {
                max-width: 360px;
            }

            // .proceed-box {}
        }
    }
}

@media(max-width: vars.$mobile-max_width) {
    .cart-content {
        gap: 48px;
        padding: 40px 8px 96px;

        .products {
            gap: 32px;
            align-items: center;

            .cart-product {
                max-width: 358px;

                &__info {
                    padding: 14px 56px 38px 18px;
                    gap: 4px;
                    font-size: 14px;
                }

                &__name {
                    padding-bottom: 24px;
                    font-size: 16px;
                }

                &__image {
                    max-width: 144px;
                }

                .crest-button {
                    top: 18px;
                    right: 12px;
                }
            }

            &__buttons-box {
                gap: 10px;
                padding-top: 0;
            }

            &__button {
                max-width: 175px;
                padding: 10px 8px;
                font-size: 12px;

            }

        }

        .cart-form {
            padding-left: 24px;
            padding-right: 24px;
            flex-direction: column;

            .shipping-form {
                max-width: 360px;
            }
        }
    }
}