@use "../sass/footer.scss";
@use "../sass/header.scss";
@use "../sass/new_arivals.scss";
@use "../sass/mixins" as mxns;
@use "../sass/vars" as vars;
@use "../sass/product-card";

// above are uses


* {
    margin: 0;
    padding: 0;
}



main {

    @include mxns.margin_center(vars.$large_width);


    .catalog {

        padding: 52px 230px 96px;

        &__filters {
            user-select: none;

            display: flex;
            justify-content: flex-start;
            gap: 320px;
            cursor: default;

            .filter-box {
                position: relative;

                width: 78px;


                .filter {
                    background: vars.$white_text_color;

                    &[open] {
                        padding-top: 12px;
                        padding-left: 16px;
                        padding-right: 16px;
                        width: 360px;
                        position: absolute;
                        z-index: 999;
                        top: -12px;
                        left: -16px;
                        box-shadow: vars.$dropdown-box-shadow;
                        border: solid 1px #EBEBEB;
                        box-sizing: border-box;
                    }

                    &[open] .filter__name {
                        color: vars.$pink_text_color;

                    }

                    &[open] .filter__name__svg {
                        fill: vars.$pink_text_color;

                    }



                    &__list {
                        padding-top: 16px;
                        list-style: none;


                    }

                    &__name {
                        cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><g fill="%23000"><path d="M18 7c-3 0-5.5-1.5-9 2s-2 6-2 9c0 5 4.1 5.63 6 5 3-1 1-3 4-6s5-1 6-4c.63-1.9 0-6-5-6Z"></path><circle cx="8.2" cy="4" r="2"></circle><circle cx="4" cy="8.2" r="2"></circle><circle cx="14" cy="3" r="2"></circle><circle cx="3" cy="14" r="2"></circle></g></svg>'), auto;
                        list-style: none;
                        display: flex;
                        align-items: center;
                        gap: 11px;

                        &:active {
                            cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24"><g fill="%23000"><path d="M18 7c-3 0-5.5-1.5-9 2s-2 6-2 9c0 5 4.1 5.63 6 5 3-1 1-3 4-6s5-1 6-4c.63-1.9 0-6-5-6Z"></path><circle cx="8.2" cy="4" r="2"></circle><circle cx="4" cy="8.2" r="2"></circle><circle cx="14" cy="3" r="2"></circle><circle cx="3" cy="14" r="2"></circle></g></svg>'), auto;
                        }

                    }




                    &__choice {}

                    &__section {

                        padding-bottom: 18px;

                        &__name {
                            padding: 8px 0 12px 11px;
                            border-left: solid 5px vars.$pink_text_color;
                            border-bottom: solid 1px vars.$catalog__filter__name-botom-border_color;
                            list-style: none;
                        }

                        &__list {
                            padding: 24px 16px;
                            list-style: none;

                        }
                    }
                }
            }

            .addition-filters {
                display: flex;
                gap: 28px;

                .check-filter {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    user-select: none;

                    &__title {
                        display: flex;
                        align-items: center;
                        gap: 10px;
                    }

                    &__option {
                        display: flex;
                        align-items: center;
                        gap: 9px;
                    }
                }
            }
        }

        .showcase {
            display: grid;
            grid-template: repeat(3, 1fr)/repeat(3, 1fr);
            gap: 30px;


        }

        .showcase_margins {
            margin-top: 64px;
            margin-bottom: 48px;

        }
    }

}