@import 'vars';
// above are variables

@mixin flex_center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


// above mixins

%font_serif {
    font-family: sans-serif;
}

%font_normal {
    @extend .font_family;

    font-style: normal;
}

// above extentions


* {
    margin: 0;
    padding: 0;

}

.conteiners_header {
    color: $text_color;
}

.nav {
    display: flex;
    gap: $gap;

    &_link {
        @extend .font_normal;
        text-decoration: none;
    }
}

.content {
    @include flex_center();
    display: flex;
    gap: $gap;
    width: $site_width;

    &_item {
        height: 200px;
        width: $site_width / 4;
        border: $item_border;

    }
}