@import "vars";

// above imports



%lato_300 {
    font-family: Lato;
    font-weight: 300;
    font-style: normal;
}

%lato_400 {
    font-family: Lato;
    font-weight: 400;
    font-style: normal;
}

%lato_600 {
    font-family: Lato;
    font-weight: 600;
    font-style: normal;

}

%lato_700 {
    font-family: Lato;
    font-weight: 700;
    font-style: normal;
}

%lato_900 {
    font-family: Lato;
    font-weight: 900;
    font-style: normal;
}



// above extensions

@mixin lato($weight) {
    font-family: Lato;
    font-weight: $weight;
    font-style: normal;
}


@mixin center($width) {
    padding-left: calc(50% - $width / 2);
    padding-right: calc(50% - $width / 2);
}

@mixin margin_center($width) {
    margin-left: calc(50% - $width / 2);
    margin-right: calc(50% - $width / 2);
}

@mixin header_site() {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;

}

@mixin flex_center() {
    display: flex;
    align-items: center;
    justify-content: center;
}



// beyond hover mixins

@mixin pale-button_hover {
    color: $pink_text_color;
    border: 1px solid $pink_text_color;



}

@mixin input_hover {

    border-color: $pink_text_color ;



}

@mixin pink-button_hover {
    text-shadow: 0 0 1em $white_text_color;
    border-radius: 1em;

    outline: 3px solid $pink_text_color;
}

@mixin link_hover {
    color: $pink_text_color;
}



// beyond focus mixins

@mixin input_focus {

    border-color: $pink_text_color ;



}



// beyond active mixins

@mixin pink-buton_active {
    outline: none;

}