// widths

$large_width: 1600px;
$medium_width: 768px;
$small_width: 426px;
$content_L_width: 1170px;


// colors

$brand_back_color: #F1E4E6;
$item_back_color: #F8F8F8;
$dark_back_color: #222224;
$subscribe_back_color: #F4F4F4;
$pink_text_color: #F16D7F;
$white_text_color: #fff;
$drop_menu_grey_text: #6F6E6E;
$fetured_header_grey_text: #9F9F9F;
$cart_button_back_color: #3A3838;
$product_item_h2_color: #000;
$product_item_p_color: #5D5D5D;
$benefits_text_color: #FBFBFB;
$subscribe_input_back_color: #E1E1E1;