// widths

$large_width: 1600px;
$medium_width: 768px;
$small_width: 426px;
$content_L_width: 1170px;


// colors

$brand_back_color: #F1E4E6;
$item_back_color: #F8F8F8;
$dark_back_color: #222224;
$subscribe_back_color: #F4F4F4;
$pink_text_color: #F16D7F;
$white_text_color: #fff;
$drop_menu_grey_text: #6F6E6E;
$fetured_header_grey_text: #9F9F9F;
$cart_button_back_color: rgba(58, 56, 56, 0.8);
$product-card_name_color: #000;
$product-card_description_color: #5D5D5D;
$benefits_text_color: #FBFBFB;
$subscribe_input_back_color: #E1E1E1;
$page-heading_back_color: #F8F3F4;
$product_arrow_back_color: #2a2a2a15;
$bread_crumbs_txt_color: #636363;
$product_name_color: #4D4D4D;
$product_info_color: #5E5E5E;
$product_section_border: 1px solid #EAEAEA;
$product_modifications_label_color: #6F6E6E;
$related_products_description_color: #5D5D5D;
$related_product_name_color: #000;
$dropdown-box-shadow: 6px 4px 35px 0px #00000036;

$catalog__filter__name-botom-border_color: #EBEBEB;
$pagination_color: #EBEBEB;
$filter-text-color: #6F6E6E;
$additional-filters-text-color: #6F6E6E;
$cart-product-box-shadow: 17px 19px 24px 0px #00000021;
$cart-product-name-color: #222222;
$cart-product-text-color: #575757;
$cart-product-input-border-color: #EAEAEA;
$shipping-form-color: #A4A4A4;
$shipping-form-text-color: #222222;
$shipping-form-address-placeholder-color: #B1B1B1;
$cart__proceed-box-back-color: #F5F3F3;
$cart__proceed-box__prices-botom-border-color: #E2E2E2;
$cart__products__button-border-color: #A4A4A4;
$cart__products__button-color: 000;
$registration__form__border-color: #A4A4A4;
$registration__form__text-color: #B1B1B1;
$registration__form__heading-color: #222222;
$registration__loyalti-text-color: 000;