@use "../sass/footer.scss";
@use "../sass/header.scss";
@use "../sass/page-heading";
@use "../sass/mixins" as mxns;
@use "../sass/vars" as vars;
@use "../sass/product-card";
@use "../sass/pawn-cursor";
@use "../sass/center";

* {
    margin: 0;
    padding: 0;
}



.registration-content {
    display: flex;
    gap: 128px;
    padding: 64px 230px 96px;


    .registration-form {
        width: 360px;
        display: flex;
        flex-direction: column;
        gap: 32px;
        align-items: flex-start;

        &__input-block {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 20px;

            &__lable {
                @extend %lato_400;
                font-size: 16px;
                text-align: left;

            }

            &__input {
                padding: 13px 17px 16px;
                border: 1px solid vars.$registration__form__border-color;
                outline: none;
                transition: all 0.3s;

                &:hover {
                    @include mxns.input_hover;
                }

                &:focus {
                    @include mxns.input_focus;
                }

                &::placeholder {
                    color: vars.$registration__form__text-color
                }
            }


        }

        .gender-block {
            width: 132px;
            display: flex;
            gap: 20px;


            &__gender-box {

                display: flex;
                gap: 10px;
                // user-select: none;

                &__input {
                    color: vars.$registration__form__border-color;

                }

                &__lable {
                    @extend %lato_400;
                    font-size: 11px;
                    cursor: pointer;
                    transition: all 0.3s;

                    &:hover {
                        @include mxns.link_hover;
                    }
                }

            }

        }

        &__password-tips {
            @extend %lato_400;
            font-size: 13px;
            color: vars.$registration__form__text-color;
        }

        &__submit {
            color: vars.$white_text_color;
            background: vars.$pink_text_color;
            padding: 16px 29px;
            display: flex;
            gap: 20px;
            border: none;
            transition: all 0.25s;

            &:hover {
                @include mxns.pink-button_hover;
            }

            &:active {
                @include mxns.pink-buton_active;
            }
        }

    }

    .loyalty-perks {
        width: 652px;
        display: flex;
        flex-direction: column;
        gap: 22px;
        font-size: 24px;

        &__heading {
            @extend %lato_400;
        }

        &__description {
            @extend %lato_400;
        }

        &__perks-box {

            display: flex;
            flex-direction: column;
            gap: 16px;



            &__item {
                @extend %lato_400;



                &::before {
                    padding-right: 22px;

                    content: url('data:image/svg+xml;utf8,<svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M19.8035 0H18.0904C17.8502 0 17.6222 0.111827 17.4752 0.303176L7.3702 13.2826L2.52481 7.05754C2.45151 6.96318 2.35808 6.88688 2.25153 6.83438C2.14499 6.78187 2.0281 6.75451 1.90963 6.75437H0.196467C0.032258 6.75437 -0.0584248 6.94572 0.0420614 7.07494L6.75503 15.6981C7.06874 16.1006 7.67166 16.1006 7.98782 15.6981L19.9579 0.318087C20.0584 0.191349 19.9677 0 19.8035 0Z" fill="black" /> </svg> ');

                    // display: inline-block;

                }
            }
        }
    }
}

@media (max-width: vars.$medium_width) {
    .registration-content {
        padding: 40px 16px 96px;
        gap: 22px;


        .loyalty-perks {
            font-size: 16px;
        }
    }

}

@media (max-width: vars.$small_width) {
    .registration-content {
        flex-direction: column;
    }
}