main .related_product_item_section_descr {
  font-family: Lato;
  font-weight: 300;
  font-style: normal;
}

main .product_section_description_collection, main .product_section_description_name, main .product_section_description_info, main .product_section_description_price, main .product_section_modifications label, main .product_section_modifications select, main .product_section_add_to_cart, main .related_product_item_section_name, main .related_product_item_section_price, .content-box .header .menu_logo .drop_menu .category_item, .content-box .header .menu_logo .drop_menu .category {
  font-family: Lato;
  font-weight: 400;
  font-style: normal;
}

.content-box {
  overflow: hidden;
}
.content-box .header {
  padding: 19px 230px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #222224;
  background-size: cover;
  position: relative;
}
.content-box .header_left {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
}
.content-box .header_right {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
}
.content-box .header_button {
  cursor: pointer;
  max-width: 26px;
  height: 26.79px;
  top: 28.21px;
  left: 316px;
  gap: 0px;
  background: #222224;
  border: none;
}
.content-box .header .menu_logo .drop_menu {
  display: flex;
  justify-content: flex-start;
  position: absolute;
  z-index: 999;
  max-width: 232px;
  top: 76px;
  right: -232px;
  background-color: #fff;
  box-sizing: border-box;
  box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.2117647059);
  opacity: 0;
  transition: all 0.2s cubic-bezier(0.33, 0.6, 0.68, 0.6);
  cursor: default;
}
.content-box .header .menu_logo .drop_menu_inner {
  display: flex;
  flex-direction: column;
  padding: 32px;
  gap: 20px;
}
.content-box .header .menu_logo .drop_menu_h2 {
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.8px;
  text-align: left;
}
.content-box .header .menu_logo .drop_menu .category {
  font-size: 14px;
  line-height: 16.8px;
  text-align: left;
  color: #F16D7F;
}
.content-box .header .menu_logo .drop_menu .category_list {
  list-style-type: none;
  text-align: start;
  padding-left: 20px;
}
.content-box .header .menu_logo .drop_menu .category_item {
  font-size: 14px;
  line-height: 16.8px;
  text-align: left;
  color: #6F6E6E;
}
.content-box .header .menu_logo .drop_menu .link {
  text-decoration: none;
  color: unset;
}
.content-box .header .menu_logo .drop_menu .link:hover {
  color: #F16D7F;
  transition: all 0.15s;
}
.content-box .header .menu_logo #right-slide:checked ~ .drop_menu {
  opacity: 1;
  right: 0;
  top: 76px;
}
.content-box .header .menu_logo .menu-checkbox {
  visibility: hidden;
}

@media (max-width: 768px) {
  .content-box .header {
    padding: 18px 32px;
  }
}
@media (max-width: 426px) {
  .header_right .header_button:not(:first-child) {
    display: none;
  }
}
main .related_product_item_section_descr {
  font-family: Lato;
  font-weight: 300;
  font-style: normal;
}

main .product_section_description_collection, main .product_section_description_name, main .product_section_description_info, main .product_section_description_price, main .product_section_modifications label, main .product_section_modifications select, main .product_section_add_to_cart, main .related_product_item_section_name, main .related_product_item_section_price, .footer_footer_manufacturer, .footer_subscribers_subscribe_p, .footer_subscribers_costumers_comment_p, .footer_benefits_section_p, .footer_benefits_section_h2 {
  font-family: Lato;
  font-weight: 400;
  font-style: normal;
}

.footer_subscribers_subscribe {
  font-family: Lato;
  font-weight: 700;
  font-style: normal;
}

.footer_benefits {
  padding: 103px 230px;
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  background: #222224;
  gap: 30px;
}
.footer_benefits_section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  text-align: center;
  gap: 16px;
}
.footer_benefits_section_h2 {
  font-size: 20px;
  line-height: 24px;
  color: #FBFBFB;
}
.footer_benefits_section_p {
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FBFBFB;
}
.footer_subscribers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-image: url(../images/footer_background.png);
  background-size: cover;
  padding-left: calc(50% - 460px);
  padding-right: calc(50% - 460px);
  padding-bottom: 96px;
  padding-top: 96px;
  gap: 223px;
}
.footer_subscribers_costumers_comment {
  max-width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.footer_subscribers_costumers_comment_img {
  max-width: 96px;
}
.footer_subscribers_costumers_comment_p {
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
}
.footer_subscribers_subscribe {
  font-size: 24px;
  line-height: 167.2%;
  /* or 40px */
  text-align: center;
  color: #222224;
}
.footer_subscribers_subscribe_p {
  width: -moz-max-content;
  width: max-content;
  font-size: 18px;
  line-height: 167.2%;
  /* or 30px */
  text-align: center;
  -moz-columns: #222224;
       columns: #222224;
}
.footer_subscribers_subscribe_form {
  display: flex;
}
.footer_subscribers_subscribe_form_email_input {
  border-radius: 30px 0% 0% 30px;
  padding: 8px 64px 8px 22px;
  border: none;
  background: #E1E1E1;
  color: #222224;
}
.footer_subscribers_subscribe_form_input_button {
  border-radius: 0 30px 30px 0;
  padding: 8px;
  border: none;
  background: #F16D7F;
  color: #fff;
}
.footer_footer {
  padding-left: calc(50% - 800px);
  padding-right: calc(50% - 800px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 230px;
  background: #222224;
}
.footer_footer_manufacturer {
  line-height: 19.2px;
  text-align: left;
  color: #FBFBFB;
}
.footer_footer_icons {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.footer_footer_icons_button {
  border: none;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.footer_footer_icons_button_icon {
  background: #fff;
  width: 32px;
  height: 16px;
  display: flex;
  justify-content: center;
  padding: 8px 0;
  transition: all 0.3s;
}
.footer_footer_icons_button_icon:hover {
  fill: #fff;
  background: #F16D7F;
}

@media (max-width: 768px) {
  .footer_benefits {
    padding: 48px 204px 64px;
    gap: 48px;
    flex-direction: column;
  }
  .footer_benefits_section_p {
    font-family: Lato;
    font-weight: 300;
    font-style: normal;
  }
  .footer_subscribers {
    flex-direction: column;
    padding: 64px 204px 120px;
    gap: 48px;
  }
  .footer_footer {
    padding-left: 30px;
    padding-right: 24px;
  }
}
@media (max-width: 426px) {
  .footer_benefits {
    padding: 48px 32px 80px;
  }
  .footer_subscribers {
    padding: 64px 32px 110px;
  }
  .footer_subscribers_subscribe_form {
    padding-top: 22px;
  }
  .footer_footer {
    flex-direction: column-reverse;
    gap: 40px;
  }
}
main .related_product_item_section_descr, .page-heading_breadcrumbs_list {
  font-family: Lato;
  font-weight: 300;
  font-style: normal;
}

main .product_section_description_collection, main .product_section_description_name, main .product_section_description_info, main .product_section_description_price, main .product_section_modifications label, main .product_section_modifications select, main .product_section_add_to_cart, main .related_product_item_section_name, main .related_product_item_section_price, .page-heading_h1 {
  font-family: Lato;
  font-weight: 400;
  font-style: normal;
}

.page-heading_breadcrumbs_list_item:last-child a {
  font-family: Lato;
  font-weight: 700;
  font-style: normal;
}

@media (min-width: 1600px) {
  .center {
    margin-left: calc(50% - 800px);
    margin-right: calc(50% - 800px);
  }
}
.page-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 230px;
  background: #F8F3F4;
}
.page-heading_h1 {
  font-size: 24px;
  color: #F16D7F;
}
.page-heading_breadcrumbs {
  cursor: default;
}
.page-heading_breadcrumbs_list {
  font-size: 14px;
  display: flex;
  gap: 15px;
}
.page-heading_breadcrumbs_list_item {
  list-style-type: none;
}
.page-heading_breadcrumbs_list_item:not(:last-child)::after {
  content: "/";
  padding: 15px;
}
.page-heading_breadcrumbs_list_item:last-child a {
  color: #F16D7F;
}
.page-heading_breadcrumbs_list_item_link {
  text-decoration: none;
  color: #636363;
}
.page-heading_breadcrumbs_list_item_link:hover {
  color: #F16D7F;
}

@media (max-width: 768px) {
  .page-heading {
    padding: 60px 16px;
  }
}
@media (max-width: 426px) {
  .page-heading {
    flex-direction: column;
    gap: 32px;
  }
}
* {
  margin: 0;
  padding: 0;
}

main .product_view {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
main .product_view_image {
  width: -webkit-fill-available;
}
main .product_view .product_view_arrow_right, main .product_view .product_view_arrow_left {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  position: absolute;
  z-index: 10000;
  padding: 12px 18px;
  background: rgba(42, 42, 42, 0.0823529412);
}
main .product_view .product_view_arrow_right:hover, main .product_view .product_view_arrow_left:hover {
  fill: #F16D7F;
}
main .product_view_arrow_left {
  left: 0;
}
main .product_view_arrow_right {
  right: 0;
}
main .product_section {
  margin: 0 230px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #EAEAEA;
  position: relative;
  top: -64px;
  background: #fff;
}
main .product_section_description {
  margin: 0 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #EAEAEA;
}
main .product_section_description_collection {
  font-size: 14px;
  padding-top: 64px;
  color: #F16D7F;
}
main .product_section_description_stroke {
  margin: 12px 0;
  background-color: #F16D7F;
  color: #F16D7F;
  max-width: 64px;
  height: 4px;
}
main .product_section_description_name {
  font-size: 18px;
  color: #4D4D4D;
}
main .product_section_description_info {
  padding: 48px 42px 0;
  font-size: 14px;
  color: #5E5E5E;
  text-align: center;
}
main .product_section_description_price {
  padding-top: 32px;
  padding-bottom: 64px;
  color: #F16D7F;
  font-size: 24px;
}
main .product_section_modifications {
  padding-top: 64px;
  display: flex;
  gap: 22px;
}
main .product_section_modifications label {
  color: #6F6E6E;
}
main .product_section_modifications select {
  border: none;
  color: #6F6E6E;
}
main .product_section_modifications select:active option:first-child {
  display: none;
}
main .product_section_add_to_cart {
  margin-top: 48px;
  margin-bottom: 64px;
  padding: 15px 56px 15px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 22px;
  color: #F16D7F;
  background: none;
  border: solid 1px #F16D7F;
}
main .product_section_add_to_cart svg {
  fill: #F16D7F;
}
main .related_product {
  margin: 64px 230px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
main .related_product_item {
  max-width: 360px;
  background: #F8F8F8;
}
main .related_product_item_section {
  padding-left: 16px;
  padding-right: 28px;
}
main .related_product_item_section_name {
  padding-top: 24px;
  color: #4D4D4D;
}
main .related_product_item_section_descr {
  padding-top: 12px;
  color: #5D5D5D;
}
main .related_product_item_section_price {
  padding-top: 18px;
  padding-bottom: 20px;
  color: #F16D7F;
}

@media (max-width: 1216px) {
  main .product_section {
    margin: 0;
    top: 0;
  }
  main .product_section_description {
    margin: 0;
  }
  main .related_product {
    margin: 0;
    padding-top: 128px;
    padding-bottom: 128px;
  }
  main .related_product_item:last-child {
    display: none;
  }
}
@media (max-width: 590px) {
  main .related_product {
    padding-top: 64px;
    padding-bottom: 64px;
    flex-direction: column;
    align-items: center;
  }
  main .product_section_modifications_dropdown {
    font-size: 10px;
  }
}/*# sourceMappingURL=style1.css.map */